.bottom {
  height: 0.8rem;
  background-color: #fff;
  color: #686868;
  text-align: center;
  position: fixed;
  bottom: 0;
  transform: translate(-50%, 0%);
  line-height: 0.8rem;
  left: 50%;
  z-index: 2;
  width: 100%;
  a {
    display: inline-block;
    color: #686868;
  }
}
.shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
